.figure {
  position: absolute;

  width: 100px;
  height: 100px;

  background-size: 100px;

  z-index: 1;

  &_bishop {
    background-image: url("../../shared/constants/images/Chess_tile_bl.svg");
    &_black {
      background-image: url("../../shared/constants/images/Chess_tile_bd.svg");
    }
  }
  &_knight {
    background-image: url("../../shared/constants/images/Chess_tile_nl.svg");
    &_black {
      background-image: url("../../shared/constants/images/Chess_tile_nd.svg");
    }
  }

  &_pawn {
    background-image: url("../../shared/constants/images/Chess_tile_pl.svg");
    &_black {
      background-image: url("../../shared/constants/images/Chess_tile_pd.svg");
    }
  }
  &_queen {
    background-image: url("../../shared/constants/images/Chess_tile_ql-whitebg.svg");
    &_black {
      background-image: url("../../shared/constants/images/Chess_tile_qd.svg");
    }
  }
  &_rook {
    background-image: url("../../shared/constants/images/whitebg.svg");
    &_black {
      background-image: url("../../shared/constants/images/Chess_tile_rd.svg");
    }
  }
  &_king {
    background-image: url("../../shared/constants/images/Chess_tile_kl-whitebg.svg");
    &_black {
      background-image: url("../../shared/constants/images/Chess_tile_kd.svg");
    }
  }
}

/* Positions */

.A8 {
  left: 0px;
  top: 0px;
}

.A7 {
  left: 0px;
  top: 100px;
}

.A6 {
  left: 0px;
  top: 200px;
}

.A5 {
  left: 0px;
  top: 300px;
}

.A4 {
  left: 0px;
  top: 400px;
}

.A3 {
  left: 0px;
  top: 500px;
}

.A2 {
  left: 0px;
  top: 600px;
}

.A1 {
  left: 0px;
  top: 700px;
}

.B8 {
  left: 100px;
  top: 0px;
}

.B7 {
  left: 100px;
  top: 100px;
}

.B6 {
  left: 100px;
  top: 200px;
}

.B5 {
  left: 100px;
  top: 300px;
}

.B4 {
  left: 100px;
  top: 400px;
}

.B3 {
  left: 100px;
  top: 500px;
}

.B2 {
  left: 100px;
  top: 600px;
}

.B1 {
  left: 100px;
  top: 700px;
}

.C8 {
  left: 200px;
  top: 0px;
}

.C7 {
  left: 200px;
  top: 100px;
}

.C6 {
  left: 200px;
  top: 200px;
}

.C5 {
  left: 200px;
  top: 300px;
}

.C4 {
  left: 200px;
  top: 400px;
}

.C3 {
  left: 200px;
  top: 500px;
}

.C2 {
  left: 200px;
  top: 600px;
}

.C1 {
  left: 200px;
  top: 700px;
}

.D8 {
  left: 300px;
  top: 0px;
}

.D7 {
  left: 300px;
  top: 100px;
}

.D6 {
  left: 300px;
  top: 200px;
}

.D5 {
  left: 300px;
  top: 300px;
}

.D4 {
  left: 300px;
  top: 400px;
}

.D3 {
  left: 300px;
  top: 500px;
}

.D2 {
  left: 300px;
  top: 600px;
}

.D1 {
  left: 300px;
  top: 700px;
}

.E8 {
  left: 400px;
  top: 0px;
}

.E7 {
  left: 400px;
  top: 100px;
}

.E6 {
  left: 400px;
  top: 200px;
}

.E5 {
  left: 400px;
  top: 300px;
}

.E4 {
  left: 400px;
  top: 400px;
}

.E3 {
  left: 400px;
  top: 500px;
}

.E2 {
  left: 400px;
  top: 600px;
}

.E1 {
  left: 400px;
  top: 700px;
}

.F8 {
  left: 500px;
  top: 0px;
}

.F7 {
  left: 500px;
  top: 100px;
}

.F6 {
  left: 500px;
  top: 200px;
}

.F5 {
  left: 500px;
  top: 300px;
}

.F4 {
  left: 500px;
  top: 400px;
}

.F3 {
  left: 500px;
  top: 500px;
}

.F2 {
  left: 500px;
  top: 600px;
}

.F1 {
  left: 500px;
  top: 700px;
}

.G8 {
  left: 600px;
  top: 0px;
}

.G7 {
  left: 600px;
  top: 100px;
}

.G6 {
  left: 600px;
  top: 200px;
}

.G5 {
  left: 600px;
  top: 300px;
}

.G4 {
  left: 600px;
  top: 400px;
}

.G3 {
  left: 600px;
  top: 500px;
}

.G2 {
  left: 600px;
  top: 600px;
}

.G1 {
  left: 600px;
  top: 700px;
}

.H8 {
  left: 700px;
  top: 0px;
}

.H7 {
  left: 700px;
  top: 100px;
}

.H6 {
  left: 700px;
  top: 200px;
}

.H5 {
  left: 700px;
  top: 300px;
}

.H4 {
  left: 700px;
  top: 400px;
}

.H3 {
  left: 700px;
  top: 500px;
}

.H2 {
  left: 700px;
  top: 600px;
}

.H1 {
  left: 700px;
  top: 700px;
}

.clicked:not(.beaten) {
  background-color: yellow;
}

.beaten {
  display: none;
}
