.board {
    border: 1px solid black;

    position: relative;

    left: 50%;
    top: 100px;

    transform: translateX(-50%);

    width: 800px;
}

.check {
    margin-left: 100px;
}

.row {
    position: relative;

    height: 100px;
}

.cell {
    position: relative;

    display: inline-block;

    width: 100px;
    height: 100px;

    margin: 0;
}

.row::after {
    display: block;

    position: absolute;

    left: -40px;
    top: 50%;

    transform: translateY(-50%);

    font-weight: 700;
}

.row:nth-child(1)::after {
    content: '8'
}

.row:nth-child(2)::after {
    content: '7'
}

.row:nth-child(3)::after {
    content: '6'
}

.row:nth-child(4)::after {
    content: '5'
}

.row:nth-child(5)::after {
    content: '4'
}

.row:nth-child(6)::after {
    content: '3'
}

.row:nth-child(7)::after {
    content: '2'
}

.row:nth-child(8)::after {
    content: '1'
}

.row:nth-child(8) .cell::before {
    display: block;

    position: absolute;

    left: 50%;
    bottom: -40px;

    transform: translateX(-50%);

    font-weight: 700;
}

.row:nth-child(8) .cell:nth-child(1):before {
    content: 'A'
}

.row:nth-child(8) .cell:nth-child(2):before {
    content: 'B'
}

.row:nth-child(8) .cell:nth-child(3):before {
    content: 'C'
}

.row:nth-child(8) .cell:nth-child(4):before {
    content: 'D'
}

.row:nth-child(8) .cell:nth-child(5):before {
    content: 'E'
}

.row:nth-child(8) .cell:nth-child(6):before {
    content: 'F'
}

.row:nth-child(8) .cell:nth-child(7):before {
    content: 'G'
}

.row:nth-child(8) .cell:nth-child(8):before {
    content: 'H'
}

.cell-black {
    background-color: #bb7843;
}

.cell-white {
    background-color: #e1c294;
}

.posible::after {
    content: '';

    display: block;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.figure-inside.posible::after {
    width: 95px;
    height: 95px;

    border: 3px solid green;
}

.posible:not(.figure-inside)::after {
    width: 15px;
    height: 15px;

    background-color: green;

    border-radius: 50%;
}