.board {
    border: 1px solid black;

    position: relative;

    left: 50%;
    top: 100px;

    transform: translateX(-50%);

    width: 800px;
}

.row {
    position: relative;

    height: 100px;
}

.cell {
    position: relative;

    display: inline-block;

    width: 100px;
    height: 100px;

    margin: 0;
}

.row::after {
    display: block;

    position: absolute;

    left: -40px;
    top: 50%;

    transform: translateY(-50%);

    font-weight: 700;
}

.row:nth-child(8) .cell::before {
    display: block;

    position: absolute;

    left: 50%;
    bottom: -40px;

    transform: translateX(-50%);

    font-weight: 700;
}

$letter-col: (
  'A': 1,
  'B': 2,
  'C': 3,
  'D': 4,
  'E': 5,
  'F': 6,
  'G': 7,
  'H': 8,
);

@for $i from 1 through 8 {
    .row:nth-child(#{$i})::after {content: '#{9 - $i}'}
}

@each $letter, $col in $letter-col {
    .row:nth-child(8) .cell:nth-child(#{$col}):before { content: $letter }
}


.cell-black {
    background-color: #bb7843;
}

.cell-white {
    background-color: #e1c294;
}

.posible::after {
    content: '';

    display: block;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.figure-inside.posible::after {
    width: 95px;
    height: 95px;

    border: 3px solid green;
}

.posible:not(.figure-inside)::after {
    width: 15px;
    height: 15px;

    background-color: green;

    border-radius: 50%;
}