/* Figures */
.figure {
    position: absolute;

    width: 50px;
    height: 50px;

    background-size: 50px;
}

.king-black {
    background-image: url('./assets/Chess_tile_kd.svg');
}

.king-white {
    background-image: url('./assets/Chess_tile_kl-whitebg.svg');
}

.queen-black {
    background-image: url('./assets/Chess_tile_qd.svg');
}

.queen-white {
    background-image: url('./assets/Chess_tile_ql-whitebg.svg');
}

.rook-black {
    background-image: url('./assets/Chess_tile_rd.svg');
}

.rook-white {
    background-image: url('./assets/whitebg.svg');
}

.knight-black {
    background-image: url('./assets/Chess_tile_nd.svg');
}

.knight-white {
    background-image: url('./assets/Chess_tile_nl.svg');
}

.bishop-black {
    background-image: url('./assets/Chess_tile_bd.svg');
}

.bishop-white {
    background-image: url('./assets/Chess_tile_bl.svg');
}

.pawn-black {
    background-image: url('./assets/Chess_tile_pd.svg');
}

.pawn-white {
    background-image: url('./assets/Chess_tile_pl.svg');
}

/* Positions */

.positionA8 {
    left: 0px;
    top: 0px;
}

.positionA7 {
    left: 0px;
    top: 50px;
}

.positionA6 {
    left: 0px;
    top: 100px;
}

.positionA5 {
    left: 0px;
    top: 150px;
}

.positionA4 {
    left: 0px;
    top: 200px;
}

.positionA3 {
    left: 0px;
    top: 250px;
}

.positionA2 {
    left: 0px;
    top: 300px;
}

.positionA1 {
    left: 0px;
    top: 350px;
}

.positionB8 {
    left: 50px;
    top: 0px;
}

.positionB7 {
    left: 50px;
    top: 50px;
}

.positionB6 {
    left: 50px;
    top: 100px;
}

.positionB5 {
    left: 50px;
    top: 150px;
}

.positionB4 {
    left: 50px;
    top: 200px;
}

.positionB3 {
    left: 50px;
    top: 250px;
}

.positionB2 {
    left: 50px;
    top: 300px;
}

.positionB1 {
    left: 50px;
    top: 350px;
}

.positionC8 {
    left: 100px;
    top: 0px;
}

.positionC7 {
    left: 100px;
    top: 50px;
}

.positionC6 {
    left: 100px;
    top: 100px;
}

.positionC5 {
    left: 100px;
    top: 150px;
}

.positionC4 {
    left: 100px;
    top: 200px;
}

.positionC3 {
    left: 100px;
    top: 250px;
}

.positionC2 {
    left: 100px;
    top: 300px;
}

.positionC1 {
    left: 100px;
    top: 350px;
}

.positionD8 {
    left: 150px;
    top: 0px;
}

.positionD7 {
    left: 150px;
    top: 50px;
}

.positionD6 {
    left: 150px;
    top: 100px;
}

.positionD5 {
    left: 150px;
    top: 150px;
}

.positionD4 {
    left: 150px;
    top: 200px;
}

.positionD3 {
    left: 150px;
    top: 250px;
}

.positionD2 {
    left: 150px;
    top: 300px;
}

.positionD1 {
    left: 150px;
    top: 350px;
}

.positionE8 {
    left: 200px;
    top: 0px;
}

.positionE7 {
    left: 200px;
    top: 50px;
}

.positionE6 {
    left: 200px;
    top: 100px;
}

.positionE5 {
    left: 200px;
    top: 150px;
}

.positionE4 {
    left: 200px;
    top: 200px;
}

.positionE3 {
    left: 200px;
    top: 250px;
}

.positionE2 {
    left: 200px;
    top: 300px;
}

.positionE1 {
    left: 200px;
    top: 350px;
}

.positionF8 {
    left: 250px;
    top: 0px;
}

.positionF7 {
    left: 250px;
    top: 50px;
}

.positionF6 {
    left: 250px;
    top: 100px;
}

.positionF5 {
    left: 250px;
    top: 150px;
}

.positionF4 {
    left: 250px;
    top: 200px;
}

.positionF3 {
    left: 250px;
    top: 250px;
}

.positionF2 {
    left: 250px;
    top: 300px;
}

.positionF1 {
    left: 250px;
    top: 350px;
}

.positionG8 {
    left: 300px;
    top: 0px;
}

.positionG7 {
    left: 300px;
    top: 50px;
}

.positionG6 {
    left: 300px;
    top: 100px;
}

.positionG5 {
    left: 300px;
    top: 150px;
}

.positionG4 {
    left: 300px;
    top: 200px;
}

.positionG3 {
    left: 300px;
    top: 250px;
}

.positionG2 {
    left: 300px;
    top: 300px;
}

.positionG1 {
    left: 300px;
    top: 350px;
}

.positionH8 {
    left: 350px;
    top: 0px;
}

.positionH7 {
    left: 350px;
    top: 50px;
}

.positionH6 {
    left: 350px;
    top: 100px;
}

.positionH5 {
    left: 350px;
    top: 150px;
}

.positionH4 {
    left: 350px;
    top: 200px;
}

.positionH3 {
    left: 350px;
    top: 250px;
}

.positionH2 {
    left: 350px;
    top: 300px;
}

.positionH1 {
    left: 350px;
    top: 350px;
}

.clicked:not(.beaten) {
    background-color: yellow;
}

.beaten {
    display: none;
}